html, body { width: 100%; height: 100%; }
#wordmark { margin-top: 5em; }
article, #wordmark { width: 40%; margin-left: 30%; margin-right: 30%; }
a, a:visited, a:active { text-decoration: inherit; color: #64BC46; }
a:hover { text-decoration: underline; color: #64BC46; }
