html, body { margin: 0; }
body { background-color: white; font-size: 16px; color: #222; font: Arial, sans-serif; }
#wordmark { margin-top: 6em; }
article, #wordmark { width: 40%; margin-left: 30%; margin-right: 30%; }
article { margin-top: 2em;  margin-bottom: 4em; }
a, a:visited, a:active { text-decoration: inherit; color: #64BC46; }
a:hover { text-decoration: underline; color: #64BC46; }
